@font-face {
	font-family: "Gabarito";
	src: url("/fonts/Gabarito%5Bwght%5D.ttf") format("truetype-variations");
	font-weight: 400 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "LeagueSpartan";
	src: url("/fonts/LeagueSpartan-VF.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}


:root {
	--font-gabarito: "Gabarito", sans-serif;
	--font-leaguespartan: "LeagueSpartan", sans-serif;
	--font-haas: "neue-haas-grotesk-display", sans-serif;


	--primary-color: #f15a26;
    --secondary-color: #3b9aff;
    --tertiary-color: #99c9ff; 
    --quaternary-color: #f7a277; 
    --quinary-color: #1e4ea7; 
    --senary-color: #b8410a; 
    --septenary-color: #eff0f8; 
    --octonary-color: #fddbcc;  

	--black-sub: #1f1d21;
    --white-sub: #f6f6f3;
    --grey-sub: #d8d8ce;
    --dark-grey-sub: #1d1725;
	--black: #000000;

	
	body {
		background-color: var(--white-sub);
	}

}